body{
    background: rgb(238, 238, 238) ;
    padding: 80px;
    
}
header p, header li{
    display: inline-block;
}
header{
    position: relative;
}
header  nav{
    position: absolute;
    right: 0px;
    bottom: 10px;
   
}
header a{
    font-size: small;
    padding-left: 20px;
    text-decoration: none;
    color: green;

}
header p{
    font-size: 32px;
    font-weight: bold;
    
}
p{
    font-family: Helvetica, sans-serif;
}
.level1 h1{
    padding-top: 10px;
    padding-bottom: 10px;
}
.level1 .image{
    display: inline-block;
    background: white;
    border: 2px solid black;

}
.level1 .image img{
    padding: 6px;
    float: right;
    
     
      
   
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image{
    float: right;
}
.level2 .side-left, .side-right{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}