body{
    background-color: aquamarine;
    font-family: Inter;
}

/* header */
.head{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(0deg 0% 100%);
    padding: 16px;
}
.btn{
    grid-column: end;
    padding-right: 64px;
    font-size: small;
}
.sign{
    background-color: hsl(176.6deg 47.75% 78.24%);
    border-radius: 6px;
    border: none;
    padding: 8px 16px;
}
.log{
    border: none;
    background-color: hsl(0deg 0% 100%);
    margin-right: 8px;
}
nav{
    display: flex;
    justify-content: space-evenly
    
}
nav > a{
    text-decoration: none;
    padding-top: 8px;
    color: hsl(60deg 3.08% 25.49%);
    font-size: smaller;
}
/* header */


/* INFO */
#info{
    background-color: #ffffff;
}
/* HEAD_INFO */
.head-info{
    background-color: #ade2df;
    padding: 40px;
}
.h1-info{
    text-align: center;
    font-size: 40px;
}
.p-info{
    text-align: center;
    
    padding: 8px;
}
.btn-info{
    font-size: small;
    text-align: center;
    padding: 8px;
    margin-top: 8px;
}
.social{
    font-size: smaller;
    background-color: hsl(0deg 0% 0%);
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 16px;
    margin-right: 4px;
}

/* HEAD_INFO */
/* STAT-INFO */
.stat-info{
    background-color: hsl(0deg 0% 100%);
    display: flex;
    justify-content: center;
    padding: 64px;
}
.info{
text-align: center;

border-left: 1px solid hsl(0deg 0% 85.88%);
border-right: 1px solid hsl(0deg 0% 85.88%);
}
.info > p{
    font-size: small;
    padding: 8px;
}
/* STAT-INFO */
/* MOBIL-INFO */
.mobil-info{
    display: flex;
    background-color: #ade2df;
    grid-template-columns: 1fr 1fr;
}
.phone{
    

    border: 1px dashed hsl(176.25deg 18.39% 65.88%);
    margin-left: 180px;

}
.phone > img{
    
    
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: (-50%,-50%);
}
.text-info{
    padding: 64px 200px 64px 64px;
}
.text-info > p{
    font-size: small;
}
.text-info > h5{
 margin-bottom: 8px;
}
.text-info >a{
    color:  hsl(60deg 3.08% 25.49%);
    font-size: smaller;
    text-decoration: none;
    border-bottom:2px solid hsl(60deg 3.08% 25.49%);
    margin-top: 16px; 
}   
/* MOBIL-INFO */

/* COSTS */
#costs{
    background-color: hsl(222.86deg 41.18% 96.67%);
    
}

/* head */
.head-costs{
    text-align: center;
    margin-bottom: 32px;
}
.price{
    background-color: hsl(176.6deg 47.75% 78.24%);
    border-radius: 6px;
    border: none;
    font-size: smaller;
    margin: 32px;
    padding: 4px 8px;

}
#costs >h2{
    margin-bottom: 32px;
}
/* head */
/* plans */
.plans{
    border-radius: 8px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    overflow: hidden;
    
}
.items{
    margin: 24px;
}
.plans-items{
    display: flex;
    background-color: hsl(0deg 0% 100%);
    gap: 16px;
   
}
.items >h5 {
    margin-bottom: 0px;
    text-align: center;
}
.items >p{
    font-size: 10px;
}

span{
    font-size: 10px;
    font-weight: lighter;
}

ul{
    list-style: none;
    font-size: 10px;
    padding-left: 0px;
}
.plus{
    border-right: 1px solid hsl(0deg 0% 85.88%);
    border-left: 1px solid hsl(0deg 0% 85.88%);
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 0px;
    margin-right: 0px;
   
}
.button{
    background-color: #ade2df;
    border: none;
    border-radius: 6px;
    width: 100%;
    font-size: smaller;
    padding: 12px;
}
/* plans */
/* expand */
.plans-contact{
    background-color:  hsl(176.6deg 47.75% 78.24%);
    padding:24px;
}
.contact{
    color: white;
    background-color:black;
    border: none;
    border-radius: 6px;
    width: 100%;
    font-size: smaller;
    padding: 12px;  
    margin-top: 50px;
}
/* expand */
/* COSTS */
