*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
  
}
hr{
    border-top: 4px solid hsl(37.65deg 100% 50%) ;
}
/* header */
.none{
    list-style-type: none;
    
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
span{
    font-weight: bold;
}
header{
    height: 48px;
    background-color:#234465;
    display: flex;
    justify-content: space-between;
}   
.left{
    width: 50%;
    display:flex;
    justify-content: center;
    
}   
.right{
    width: 50%;
    display:flex;
    justify-content: center;
    gap: 20px;
}
.right>nav>ul{
    margin-top: 12px;
}
    

.left>img{
    width: 100%;
    height: 100%;
    
    

   
}
.logo{
    width: 96px;
    margin-top: 6px;
    margin-right: 12px;
}
.btn{
    height: 30px;
    background-color:hsl(37.65deg 100% 50%) ;
    color: white;
    border-radius: 12px;
    margin-top: 6px;
    margin-bottom: 12px;
    padding: 4px 6px;
    border: transparent;
}


/* .none{
    display: flex;
    gap:20px
} */
.none>li>a{
    color: hsl(204.29deg 21.43% 61.57%);
    font-size:smaller;
}
/* main-  */
/* HEAD */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.head{
    height: 200px;
    width: 100%;
    position: relative;
    
}
.background{
    width: 100%;
}
.background img{
    width: 100%;
    height: 100%;
    position: absolute;
   
}
.head_h1{
    position: absolute;
    z-index: 10;
    color: white;
    left: 50%;
    transform: translate(-50%);
    font-size: 36px;

}
.long{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    gap:12px;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    color: white;
    

}
.long>p>i{
    font-size: large;

}
body > div > section.head > button{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    

}
.submit{
    width: 300px;
    font-weight: bold;
}
/* section Request */
.request{
    padding: 12px 42px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background-color: hsl(0deg 0% 94.9%);
    width: 66%;
    margin: 36px;
}
/* section Skils */
.skills{
    padding: 12px 42px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background-color: hsl(0deg 0% 94.9%);
    width: 66%;
    margin: 36px;
}
.skills .skill{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 256px;
    padding-bottom: 48px;
}
.skills .skill>li{
    margin: 4px;
}
.skills .skill>li>i{
    color:hsl(37.65deg 100% 50%) ;
}
/* Section  Topics*/

.topics{
    padding: 12px 42px 42px 42px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background-color: hsl(0deg 0% 94.9%);
    width: 66%;
    margin: 36px;
}
.topic{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 128px;
    
   
}
.topic_p{
    background-color: hsl(0deg 0% 85.49%);
    margin: 6px;
    font-size:9px;
    padding: 9px;
    border-left: 3px solid black;
}

/*  section Who*/
.who{
    color:white;
    padding: 12px 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background-color: hsl(37.65deg 100% 50%);
    width: 66%;
    margin: 36px;
}
.border{
    border-top: 3px solid white;
}

/* section Info */

.info{
    padding: 12px;
    
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    background-color: hsl(0deg 0% 94.9%);
    width: 66%;
    margin: 6px;
}
.teach{
    width: 100%;
}
.info>p{
    padding-bottom: 12px;
}
.precens{
    background-color: #234465;
}
.online{
    background-color:  hsl(37.65deg 100% 50%);
}