body{
    font-family: Lato;
    display: flex;
    justify-content: center;
    margin-top: 64px;
}
p{
    background-color: hsl(220 16% 97% / 1);
    padding: 24px;
    margin: 2px;
    border-radius: 8px;
}
.container{
    width: 60%;
    align-items: center;

}