.body{
   
    background-color: #e4e978;
    padding: 5px;
    margin: 10px;

}
.pool{
    margin: 15px;
    padding: 10px;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d
    
}
head{
    width: 700px;
}