*{
    box-sizing: border-box;
}
body{
    font-family:'Lato',sans-serif;
}
.none{
    list-style-type: none;
    
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
span{
    font-weight: bold;
}
header{
    height: 48px;
    background-color:#234465;
    display: flex;
    justify-content: space-between;
}   
.left{
    width: 50%;
    display:flex;
    justify-content: center;
    
}   
.right{
    width: 50%;
    display:flex;
    justify-content: center;
    gap: 20px;
}
.right>nav>ul{
    margin-top: 12px;
}
    

.left>img{
    width: 100%;
    height: 100%;
    
    

   
}
.logo{
    width: 96px;
    margin-top: 6px;
    margin-right: 12px;
}
.btn_request{
    height: 30px;
    background-color:hsl(37.65deg 100% 50%) ;
    color: white;
    border-radius: 12px;
    margin-top: 6px;
    margin-bottom: 12px;
    padding: 4px 6px;
    border: transparent;
}
.btn_enter{
    height: 30px;
    background-color:hsl(37.65deg 100% 50%) ;
    color: white;
    border-radius: 12px;
    margin-top: 6px;
    margin-bottom: 12px;
    padding: 4px 6px;
    border: transparent;
}


.none{
    display: flex;
    gap:20px
}
.none>li>a{
    color: hsl(204.29deg 21.43% 61.57%);
    font-size:smaller;
}
.background{
    width: 100%;
}
.background img{
    width: 100%;
    height: 200px;
   
}
