body{
    
    padding: 20px;
}
nav h1,a{
    display: inline-block;
}
a{
    padding-left: 20px;
    text-decoration: none;
    color: green;
}
h1{
    padding-right: 40px;
    font-family: Helvetica, sans-serif;
}
p{
    font-family: Helvetica, sans-serif;
}